{% extends "flights/layout.html" %}

{% block body %}
    <h1>Flight id: {{ flight.id }}</h1>
    <h3>Flight details</h1>
    <table>
        <thead>
            <th>
                Origin
            </th>
            <th>
                Destination
            </th>
            <th>
                Duration
            </th>
        </thead>
        <tr>
            <td>{{ flight.origin.city }}</td>
            <td>{{ flight.destination.city }}</td>
            <td>{{ flight.duration }}</td>
        </tr>
    </table>
    <h3>Passenger details</h1>
        <ul>
            {% for passenger in passengers %}
            <li>Name: {{ passenger.first }} {{ passenger.last }}</li>
            {% empty %}
            <li>No passengers</li>
            {% endfor%}
        </ul> 
    <a href="{% url 'flights:view-index' %}">See flight list</a>
{% endblock %}

